	<style type="text/css">
		body
		{
		    counter-reset: Serial;          
		}

		tr td:first-child:before
		{
		  counter-increment: Serial;      
		  content: counter(Serial); 
		}
    .btn{
      border-radius: 16px;
    }
    /* Popup container - can be anything you want */
/*.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
/*.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
/*.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
/*.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
/*@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}*/
	</style>

<section>
  <div class="container">
    <h1 class="text-center">Car List</h1>

    {{#if err}}
      <div class="alert alert-danger" role="alert">
        Updation error
      </div>
    {{/if}}
    {{#if msg}}
      <div class="alert alert-success" role="alert">
        updation successful
      </div>
    {{/if}}
    <div class="mt-3">
      <div class="col-12">
        <div class="card recent-sales overflow-auto">

          {{! <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="#">Today</a></li>
                    <li><a class="dropdown-item" href="#">This Month</a></li>
                    <li><a class="dropdown-item" href="#">This Year</a></li>
                  </ul>
                </div> }}

          <div class="card-body">
            <a href="/admin/add-car" class="btn btn-success ml-auto mt-3">Add
              Cars</a>
            <h5 class="card-title">Car details <span>| All</span></h5>
            <table class="table-borderless mt-5" id="productstable">
              <thead>
                <tr>

                  <th scope="col">slno</th>
                  <th scope="col">Brand</th>
                  <th scope="col">Model</th>
                  <th scope="col">Register No</th>
                  <th scope="col">Amount</th>
                  <th scope="col">fuel</th>
                  <th scope="col">Kms</th>
                  <th scope="col">type</th>
                  <th scope="col">Status</th>
                  <th>image</th>
                  <th scope="col">option</th>
                </tr>
              </thead>
              <tbody>
                {{#each Cars}}
                  <tr>
                    <td></td>
                    <td>{{this.brand}}</td>
                    <td>{{this.model}}</td>
                    <td>{{this.reg_no}}</td>
                    <td>{{this.amount}}</td>
                    <td>{{this.fuel}}</td>
                    <td>{{this.kms}}</td>
                    <td>{{this.type}}</td>
                    <td>
                      <div class="btn-group">
                        {{#if (eq this.status "Available")}}
                          <button
                            type="button"
                            class="btn btn-success btn-sm dropdown-toggle"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false"
                          >
                            {{this.status}}
                          </button>
                        {{else}}
                          <button
                            type="button"
                            class="btn btn-danger btn-sm dropdown-toggle"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false"
                          >
                            {{this.status}}
                          </button>
                        {{/if}}

                        <div class="dropdown-menu">
                          {{#if (eq this.status "Available")}}
                            <a
                              class="dropdown-item"
                              href="/admin/edit-status/?status=Not available&Id={{this.car_id}}"
                            >Not available</a>
                          {{else}}
                            <a
                              class="dropdown-item"
                              href="/admin/edit-status/?status=Available&Id={{this.car_id}}"
                            >Available</a>
                          {{/if}}

                        </div>
                      </div></td>
                      <td><img src="/car-images/{{this.reg_no}}{{this.car_id}}.jpg" style="width: 60px; height: 60px;" alt=""></td>
                    {{!-- <td><img src="/car-images/{{this.reg_no}}{{this.car_id}}.jpg" alt="" width="50px" height="50px"> </td> --}}
                    <td>
                      <a
                        href="/admin/edit-car/{{this.car_id}}"
                        class="btn btn-info btn-sm"
                        onclick="return confirm('Are you want to edit {{this.brand}} {{this.model}} ?')"
                      >Edit</a>
                      
                      {{!-- <td><div class="popup" onclick="myFunction()"><input type="button"class="btn btn-info btn-sm" value="view">
                        <img src="/car-images/{{this.reg_no}}{{this.car_id}}.jpg" class="popuptext" id="myPopup">
                      </div></td> --}}
                      <a
                        href="/admin/delete-car/{{this.car_id}}"
                        class="btn btn-danger btn-sm"
                        onclick="return confirm('Are you want to delete {{this.brand}} {{this.model}} ?')"
                      >Delete</a>
                      <a
                        href=""
                        class="btn btn-outline-warning btn-sm"
                        onclick=window.open(src="/car-images/{{this.reg_no}}{{this.car_id}}.jpg")
                      >view</a>
                      

                    </td>
                  </tr>

                {{/each}}

              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>
  </div>

</section>
<script>
  $(document).ready( function () { $('#productstable').DataTable(); } );
  /*function myFunction() {
  var popup = document.getElementById("myPopup");
  popup.classList.toggle("show");
}*/
</script>
{{!-- <style>
  .card { margin-bottom: 30px; border: none; border-radius: 5px; box-shadow: 0px
  0 30px rgba(1, 41, 112, 0.1); } .card-header, .card-footer { border-color:
  #ebeef4; background-color: #fff; color: #798eb3; padding: 15px; } .card-title
  { padding: 20px 0 15px 0; font-size: 18px; font-weight: 500; color: #012970;
  font-family: "Poppins", sans-serif; } .card-title span { color: #899bbd;
  font-size: 14px; font-weight: 400; } .card-body { padding: 0 20px 20px 20px; }
  .card-img-overlay { background-color: rgba(255, 255, 255, 0.6); }
</style> --}}