<style>
    h2{
        margin-top: 10%;
    }
    h1{
      font-weight: 700;
      color: rgba(3, 12, 86, 0.647);
      transition: 2s;
    }
    h1:hover{
      color: rgb(30, 97, 99);
      transform: scale(1.09);
      cursor: pointer;
    }
    .row span{
        font-weight: 700;
        font-size: 20px;
        color: rgba(0, 72, 113, 0.647);
        cursor: pointer;
    }
    .segment{
        padding: 1rem;
        margin-top: 5%;
        border-radius: 10px;
        background: rgb(251, 192, 16);
        text-align: center;
    }
</style>
<h1 class="text-center">Booking Details</h1>

<div class="row mt-5">
    <div class="col-md-4">
        <div class="card col-md-12 mr-2 mt-3" style="border-radius: 25px; height:93% ;" >
              <img src="/car-images/{{car.reg_no}}{{car.car_id}}.jpg"  style="width:100%; height:250px; margin-top: 2rem;">
  
  
              <div class="card-body">
                <div><h1 >{{car.brand}} {{car.model}}</h1></div>
                <hr>
                <div class="row"><div class="col-4">
                    <span><img src="/images/fuel.png" style="height: 40px; width: 40px;"> {{car.fuel}}</span>
                </div>
                <div class="col-3">
                    <span><img src="/images/car-seat.png" style="height: 40px; width: 40px;"> {{car.no_of_seat}}</span>
                </div>
                <div class="col-5">
                    <span><img src="/images/transmission.png" style="height: 40px; width: 40px;"> {{car.transmission}}</span>
                </div>
                </div>
                <hr>
                <div class="row">
                <div class="col-md"><h2 id="amt" ><img src="/images/rupee.png" style="height: 30px; width: 30px; " alt=""> {{car.amount}}</h2></div>
                    <div class="col-md container">
                        <div class="segment">
                            <h4>{{car.segment}}</h4>
                        </div>
                    </div>
                </div>
              </div>
              
            </div>

    </div>

       
    
    <div class="col-md-4">
        
            <div class="card col-md-12 mr-2 mt-3 p-2" style="border-radius: 25px;" >
              <img src="/user-images/{{customer.full_name}}{{customer.user_id}}.jpg"  style="width:100%; height:250px; border-radius: 25px;">
  
  
              <div class="card-body">
                <div><h1 >{{customer.full_name}}</h1></div>
                
                </div>
                <hr>
                
                
                <div class="col-12">
                    <span class="span"><img src="/images/email.png" style="height: 30px; width: 30px;"> {{customer.email}}</span>
                </div>
                <div class="col-12 mt-3">
                    <span class="span"><img src="/images/mobile-phone.png" style="height: 30px; width: 30px;"> {{customer.phone}}</span>
                </div>
                
                <hr>
                <div class="row p-3">
                   
                <div class="col-md" style="text-align: end;"><a id="amt" href="tel:{{customer.phone}}"><img src="/images/phone.png" style="height: 70px; width: 70px;" alt=""></a></div>
                <div class="col-md">
                    <a href="https://api.whatsapp.com/send?phone={{customer.phone}}"><img src="/images/whatsapp.png" style="height: 70px; width: 70px;" alt=""></a>

                </div>
                
                
                </div>
              </div>
              
            
    </div>
    
    <div class="col-md-4">
          <div class="card col-md-12 mr-2 mt-3 p-2" style="border-radius: 25px;" >
              {{!-- <img src="/driver-images/{{emp.name}}{{emp.driver_id}}.jpg"  style="width:100%; height:250px; border-radius: 25px;"> --}}
  
  
              <div class="card-body">
                <div><h1>Rent Details</h1></div>
                
                </div>
                <hr>
                
                
                <div class="col-12">
                    <span class="span"><img src="/images/arrow.gif" style="height: 40px; width: 40px;"> Picup : {{booking.picup}}</span>
                </div>
                <div class="col-12 mt-3">
                    <span class="span"><img src="/images/arrow.gif" style="height: 40px; width: 40px;">Dropoff : {{booking.dropoff}}</span>
                </div>
                <div class="col-12 mt-3">
                    <span class="span"><img src="/images/arrow.gif" style="height: 40px; width: 40px;">Duration : {{booking.days}} days</span>
                </div>
                <div class="col-12 mt-3">
                    <span class="span"><img src="/images/arrow.gif" style="height: 40px; width: 40px;">Status : {{booking.b_status}}</span>
                </div>
                
                
                <hr>
                
              </div>
    </div>

</div>



{{#if (eq booking.b_status 'success')}}
   <div class="container">
  <div class="row">
						<div class="col-12 col-md-10 hh-grayBox pt45 pb20">
							<div class="row justify-content-between">
								<div class="order-tracking completed">
									<span class="is-complete"></span>
									<p>Booked<br><span>{{booking.time}}</span></p>
								</div>
								<div class="order-tracking">
									<span class="is-complete"></span>
									<p>Processing<br><span>{{booking.picup}}</span></p>
								</div>
								<div class="order-tracking">
									<span class="is-complete"></span>
									<p>Completed<br><span>{{booking.dropoff}}</span></p>
								</div>
							</div>
						</div>
					</div>
</div>
{{else if (eq booking.b_status 'Processing')}}
   <div class="container">
  <div class="row">
						<div class="col-12 col-md-10 hh-grayBox pt45 pb20">
							<div class="row justify-content-between">
								<div class="order-tracking completed">
									<span class="is-complete"></span>
									<p>Booked<br><span>{{booking.time}}</span></p>
								</div>
								<div class="order-tracking completed">
									<span class="is-complete"></span>
									<p>Processing<br><span>{{booking.picup}}</span></p>
								</div>
								<div class="order-tracking">
									<span class="is-complete"></span>
									<p>Completed<br><span>{{booking.dropoff}}</span></p>
								</div>
							</div>
						</div>
					</div>
</div>
{{else if (eq booking.b_status 'rejected')}}

{{else if (eq booking.b_status 'cancelled')}}

{{else}}
   <div class="container">
  <div class="row">
						<div class="col-12 col-md-10 hh-grayBox pt45 pb20">
							<div class="row justify-content-between">
								<div class="order-tracking completed">
									<span class="is-complete"></span>
									<p>Booked<br><span>{{booking.time}}</span></p>
								</div>
								<div class="order-tracking completed">
									<span class="is-complete"></span>
									<p>Processing<br><span>{{booking.picup}}</span></p>
								</div>
								<div class="order-tracking completed">
									<span class="is-complete"></span>
									<p>Completed<br><span>{{booking.dropoff}}</span></p>
								</div>
							</div>
						</div>
					</div>
</div>
{{/if}}

<style>
    .hh-grayBox {
	background-color: #F8F8F8;
	margin-bottom: 20px;
	padding: 35px;
  margin-top: 20px;
}
.pt45{padding-top:45px;}
.order-tracking{
	text-align: center;
	width: 33.33%;
	position: relative;
	display: block;
}
.order-tracking .is-complete{
	display: block;
	position: relative;
	border-radius: 50%;
	height: 30px;
	width: 30px;
	border: 0px solid #AFAFAF;
	background-color: #f7be16;
	margin: 0 auto;
	transition: background 0.25s linear;
	-webkit-transition: background 0.25s linear;
	z-index: 2;
}
.order-tracking .is-complete:after {
	display: block;
	position: absolute;
	content: '';
	height: 14px;
	width: 7px;
	top: -2px;
	bottom: 0;
	left: 5px;
	margin: auto 0;
	border: 0px solid #AFAFAF;
	border-width: 0px 2px 2px 0;
	transform: rotate(45deg);
	opacity: 0;
}
.order-tracking.completed .is-complete{
	border-color: #27aa80;
	border-width: 0px;
	background-color: #27aa80;
}
.order-tracking.completed .is-complete:after {
	border-color: #fff;
	border-width: 0px 3px 3px 0;
	width: 7px;
	left: 11px;
	opacity: 1;
}
.order-tracking p {
	color: #A4A4A4;
	font-size: 16px;
	margin-top: 8px;
	margin-bottom: 0;
	line-height: 20px;
}
.order-tracking p span{font-size: 14px;}
.order-tracking.completed p{color: #000;}
.order-tracking::before {
	content: '';
	display: block;
	height: 3px;
	width: calc(100% - 40px);
	background-color: #f7be16;
	top: 13px;
	position: absolute;
	left: calc(-50% + 20px);
	z-index: 0;
}
.order-tracking:first-child:before{display: none;}
.order-tracking.completed:before{background-color: #27aa80;}

</style>