
<style>
    h1{
        font-weight: 700;
        font-size: 35px;
        color: rgb(105, 96, 96);
    }
    h4,#amt{
        font-weight: 700;
        font-size: 25px;
        color: rgb(105, 96, 96);
    }
    span{
        font-weight: 700;
        
        color: rgb(105, 96, 96);
    }
    hr {
    border: none;
    border-top: 2px dashed black;
  }
</style>

 
            <div class="card col-md-12 mr-2 mt-3 " style="border-radius: 25px;" >
                <div class="row">

                    <div class="col-md-4">

                    
                
              <img src="/car-images/{{car.reg_no}}{{car.car_id}}.jpg"  style="width:100%; height:250px; ">
  
  
              <div class="card-body">
                <div><h5 class="card-title">{{car.brand}} {{car.model}}</h5></div>
                
                <div class="row mt-3"><div class="col-4">
                    <span><img  src="/images/fuel.png" style="height: 35px; width: 35px;"> {{car.fuel}}</span>
                </div>
                <div class="col-3 ">
                    <span><img src="/images/car-seat.png" style="height: 35px; width: 35px;"> {{car.no_of_seat}}</span>
                </div>
                <div class="col-5">
                    <span><img src="/images/transmission.png" style="height: 35px; width: 35px;"> {{car.transmission}}</span>
                </div>
                </div>
                
                
              </div>
              </div>
              <div class="col-md-8 p-4">
                <h1 class="card-title">{{car.brand}} {{car.model}}</h1>
                <hr>

                <div class="row">
        
                    <h4 class="col-md-4">Picup date</h4>        <h4 class="col-md-4"></h4>       <h4 class="col-md-4"> Dropoff date</h4>
                    <h1 class="col-md-4">{{date.picup}}</h1> <div class="col-md-4"><h4 class="card p-2 ml-2" style="width: 20%; border-radius: 30px; background: rgb(240, 197, 90);" ><span class="ml-2">to</span> </h4></div> <h1 class="col-md-4">{{date.drop}}</h1>

                </div>
                   <hr>
                   
                   {{#if drv}}
                   <div class="row">
                        <h4 class=" col">Driver charge</h4> <div class="col"></div> <h4 class="col"><img src="/images/rupee.png" style="height: 30px; width: 30px;" alt="">{{drv}}</h4>
                        </div>
                        <div class="row mt-3">
                        <h4 class=" col">Rent Amount</h4> <div class="col"></div> <h4 class="col"><img src="/images/rupee.png" style="height: 30px; width: 30px;" alt="">{{carAmt}}</h4>
                        </div>
                    {{/if}}

                   <div class="row mt-3">
                    <h4 class=" col">Ammount Payable</h4> <div class="col"></div> <h4 class="col"><img src="/images/rupee.png" style="height: 30px; width: 30px;" alt=""> {{amount}}</h4>


                   </div>
                   <div class="row mt-3">
                    <h4 class=" col">Duration</h4> <div class="col"></div> <h4 class="col">{{date.days}} Days</h4>


                   </div>
                     <form action="" method="post" id="checkout-form">
                     <input type="number" value="{{amount}}" name="amount" hidden>
                      {{!-- <a href="" class="btn btn-success btn-lg mt-3" style="width: 100%; background:  #00A87E; font-weight: 500;"> Pay & Book</a> --}}
                      <input class="btn btn-success btn-lg mt-3" type="submit" value=" Pay & Book" style="width: 100%; background:  #00A87E; font-weight: 500;">
                    </form>
              </div>


              </div>
            </div>
            <script>
                $("#checkout-form").submit((e)=>{
                    e.preventDefault()
                    $.ajax({
                    url:'/checkout',
                    method:'post',
                    data:$('#checkout-form').serialize(),
                    success:(response)=>{
                        if(response.status){
                            razorpayPayment(response)

                        }else{
                            alert("Please select another one");
                            window.location="/user-home";
                        }
                    
                        
                        
                        
                        
                        
                    }
                    })
                })

                function razorpayPayment(order){
                    var options = {
                    "key": "rzp_test_RDsdaax6UE4Dlk", // Enter the Key ID generated from the Dashboard
                    "amount":order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                    "currency": "INR",
                    "name": "ASWIN A K",
                    "description": "Test Transaction",
                    "image": "https://example.com/your_logo",
                    "order_id":order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
                    "handler": function (response){
                        
                        verifyPayment(response,order)
                    },
                    "prefill": {
                        "name": "Gaurav Kumar",
                        "email": "gaurav.kumar@example.com",
                        "contact": "9999999999"
                    },
                    "notes": {
                        "address": "Razorpay Corporate Office"
                    },
                    "theme": {
                        "color": "#3399cc"
                    }
                };
                var rzp1 = new Razorpay(options);
                rzp1.open();
                }

                function verifyPayment(payment,order){
                    $.ajax({
                    url:'/verify-payment',
                    data:{
                        payment,
                        order
                    },
                    method:'post',
                    success:(response)=>{
                        if(response.status){
                        location.href = "/payment-success"
                        }else{
                        alert("payment faild")
                        }
                    }
                    })
                }
            </script>
            



           